/* Définition des ../fonts personnalisées */

/* @font-face
{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    src: url('../fonts/Raleway-Black.ttf') format('truetype'),
         url('../fonts/Raleway-BlackItalic.ttf') format('truetype'),
         url('../fonts/Raleway-Bold.ttf') format('truetype'),
         url('../fonts/Raleway-BoldItalic.ttf') format('truetype'),
         url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
         url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'),
         url('../fonts/Raleway-ExtraLight.ttf') format('truetype'),
         url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype'),
         url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype'),
         url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/Raleway-Italic.ttf') format('truetype'),
         url('../fonts/Raleway-Light.ttf') format('truetype'),
         url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
         url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
         url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype'),
         url('../fonts/Raleway-Thin.ttf') format('truetype'),
         url('../fonts/Raleway-ThinItalic.ttf') format('truetype'),
         url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

body
{
    margin: 0;
}

#div_milieu
{
    margin-left: 55px;
}

#div_milieu h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: large;
}

#div_milieu p
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: smaller;
}

i
{
    color: #0065FC;
}


/* Modif pour header */

header
{
    display:flex;
    justify-content: space-between;
}

#logo img
{
    margin-top: 42px;
    margin-left: 55px;
    max-width: 61.09px;
    max-height: 19px;
}

#nav_header
{
    justify-content: center;
}

#nav_header ul
{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#nav_header > ul > a
{
    color: inherit;
    text-decoration: inherit;
    text-align: center;
    flex: 1;
}

#nav_header > ul > a > li:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#nav_header > ul > a > li
{
    border-top: 2px solid white;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
}

/* Modif général pour search + tags + les titres */

/* Modif pour recherche */

#div_titre_search_tags > :nth-child(1)
{
    margin-bottom: 8px;
}

#div_titre_search_tags > :nth-child(2)
{
    margin: 0;
}

#search 
{
    display: flex;
    margin-top: 20px;
}

#search > label
{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
}

#search > label > i
{
    color: black;
}

#search > :nth-child(2)
{
    padding-left: 16px;
    padding-right: 46px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    margin: 0;
}

#search > :nth-child(2)::placeholder
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
    color: black;
}

#search > :nth-child(3)
{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 14px 16px 14px 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: medium;
}

/* Modif pour filtres/tags */
#tags
{
    display: flex;
    margin-top: 12px;
}

#tags > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
    margin: auto;
    flex: 0;
}

#tags_div
{
    display: flex;
    flex: 1;
}

#tags_div div
{
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    margin: 20px;
}

#tags_div div:hover
{
    background-color: #deebff;
}

#tags_div div p
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
}

#tags_div div i
{
    margin-right: 10px;
}

#div_search_tags > p > span
{
    margin-left: 11px;
}

#div_search_tags > p > i
{
    padding: 10px;
    border: 1px solid #deebff;
    border-radius: 100%;
}

/* Modif pour section 1 */

#section_1_flex
{
    display: flex;
    margin-right: 50px;
}

#section_1_flex img
{
    width: 100%;
    object-fit: cover;
}

#hebergement
{
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #f2f2f2;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

#hebergement > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
    margin: 10px 0 0 0;
    padding: 0;
}

#hebergement_ligne_1
{
    display: flex;
    flex: 1;
}

#hebergement_ligne_2
{
    display: flex;
    flex: 1;
}

.hebergement
{
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    margin: 0 0 30px 0;
    border-radius: 15px;
    flex: 1;
}

.hebergement > div
{
    background-color: white;
}

.hebergement > img
{
    height: 120px;
}

.hebergement:nth-child(2)
{
    margin-left: 31px;
    margin-right: 31px;
}

.hebergement:nth-child(5)
{
    margin-left: 31px;
    margin-right: 31px;
}

.hebergement > div > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
}

#populaire
{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f2f2f2;
    margin-left: 20px;
    padding: 0 40px 34px 37px;
    border-radius: 20px;
}

.populaire
{
    display: flex;
    border: 3px solid white;
    border-radius: 15px;
}

.populaire:nth-child(3)
{
    margin-top: 33px;
    margin-bottom: 33px;
}

.populaire > div
{
    background-color: white;
}

.populaire > img
{
    height: 140px;
}

.populaire > div > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
}

/* Modif pour section 2 */

#section_2
{
    display: flex;
    flex-direction: column;
}

#activites
{
    display: flex;
    background-color: red;
}

.activites
{
    display: flex;
}

/* Modif pour footer */

footer
{
    display: flex;
}

footer ul 
{
    list-style-type: none;
}