/* Définition des ../fonts personnalisées */

body
{

    margin: auto;
    max-width: 1400px;
}

#div_milieu
{
    margin-left: 50px;
    margin-right: 50px;
}

#div_milieu > div:nth-child(2)
{
    row-gap: 50px;
}

#div_milieu h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: large;
}

#div_milieu p
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: smaller;
}

i
{
    color: #0065FC;
}

/* Modif pour header */

header
{
    display:flex;
    justify-content: space-between;
}

#logo > img
{
    margin-top: 42px;
    margin-left: 55px;
    max-width: 61.09px;
    max-height: 19px;
}

#nav_header
{
    flex-basis: 400px;
}

#nav_header ul
{
    list-style-type: none;
    display: flex;
    padding: inherit;
    margin: inherit;
}

#nav_header > ul > a
{
    flex: 1;
    display: flex;
    color: inherit;
    text-decoration: inherit;
}

#nav_header > ul > a > li
{
    flex: 1;
    border-top: 2px solid white;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#nav_header > ul > a > li:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Modif général pour search + tags + les titres */

/* Modif pour recherche */

#div_titre_search_tags > :nth-child(1)
{
    margin-bottom: 8px;
}

#div_titre_search_tags > :nth-child(2)
{
    margin: 0;
}

#search 
{
    display: flex;
    margin-top: 20px;
}

#search > label
{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
}

#search > label > i
{
    color: black;
}

#search > :nth-child(2)
{
    padding-left: 16px;
    padding-right: 46px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    margin: 0;
}

#search > :nth-child(2)::placeholder
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
    color: black;
}

#search > :nth-child(3)
{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 14px 16px 14px 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: medium;
}

/* Modif pour filtres/tags */

#tags
{
    display: flex;
    margin-top: 12px;
}

#tags > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
    margin: auto;
    flex: 0;
}

#tags_div
{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#tags_div > a
{
    color: inherit;
    text-decoration: inherit;
}

#tags_div > a > div
{
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    margin: 20px;
}

#tags_div div:hover
{
    background-color: #deebff;
}

#tags_div div > p
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
}

#tags_div div > p > i
{
    margin-right: 10px;
    color: #0065FC;
}

#div_search_tags > p > span
{
    margin-left: 11px;
}

#div_search_tags > p > i
{
    padding: 10px;
    border: 1px solid #deebff;
    border-radius: 100%;
}

/* Modif pour section 1 */

#section_1_flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

#section_1_flex img
{
    object-fit: cover;
}

/* Modif pour hebergement à Marseille */

#hebergement
{
    flex: 1;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#hebergement > h1
{
    margin-top: 0;
    flex: 0.1;
}

#hebergement_carte
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    column-gap: 1%;
    row-gap: 10px;
    flex: 1;
}

#hebergement_carte > a
{
    width: 30%;
    color: inherit;
    text-decoration: inherit;
}

.hebergement
{
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1% 0 0 1%;
}

.hebergement:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hebergement > div:nth-child(1) > img
{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 12vh;
    object-position: center;
}

.hebergement > div:nth-child(1)
{
    flex: 1;
    background-color: white;
}

.hebergement > div:nth-child(2)
{
    background-color: white;
    flex: 1;
}

.hebergement > div:nth-child(2) > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    margin: 8px 0 4.5px 12px;
}

.hebergement > div:nth-child(2) > p
{
    margin: 4.5px 0 4.5px 12px;
}

.hebergement > div:nth-child(2) > p:nth-of-type(2) > i:nth-of-type(5)
{
    color: #f2f2f2;
}

#hebergement > div:nth-child(3)
{
    display: flex;
    flex: 0.1;
}

#hebergement > div:nth-child(3) > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
    padding: 0;
    align-self: center;
}

/* Modif pour hebergement populaire */

#populaire
{
    display: flex;
    flex: 0.4;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 20px;
    gap: 26px;
}

#populaire > div:nth-child(1)
{
    display: flex;
}

#populaire > div > h1
{
    flex: 1;
    margin: 0;
}

#populaire_colonne
{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5%;
}

.populaire
{
    display: flex;
    border-radius: 15px;
    border: 4px solid white;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 30%;
    background-color: white;
}

.populaire:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.populaire > div:nth-child(1)
{
    flex: 1;
    background-color: white;
}

.populaire > div:nth-child(1) > img
{
    border-radius: 15px 0 0 15px;
    height: 130px;
    width: 100%;
}

.populaire > div:nth-child(2)
{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    background-color: white;
    justify-content: space-between;
}

.populaire > div:nth-child(2) > div > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    margin: 12px 0 3.5px 19px;
}

.populaire > div:nth-child(2) > div > p:nth-of-type(1)
{
    margin: 3.5px 0 0 19px;
}

.populaire > div:nth-child(2) > p:nth-of-type(1)
{
    margin: 0 0 12px 19px;
}

.populaire> div > p:nth-of-type(1) > i:nth-of-type(5)
{
    color: #f2f2f2;
}

/* Modif pour section 2 */

#section_2
{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

#section_2 > h1
{
    margin-top: 0;
}

#activites
{
    display: flex;
    gap: 3.5%;
}

#activites > div
{
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

#activites > div:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#activites > div > div:nth-child(1)
{
    background-color: white;
    flex: 1;
    border-radius: 20px 20px 0 0;
}

#activites > div > div:nth-child(1) > img
{
    width: 100%;
    height: 40vh;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites
{
    background-color: white;
    border-radius: 0 0 20px 20px ;
}

.activites > h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    margin-left: 5%;
    margin-top: 10px;
}

/* Modif pour footer */

footer
{
    display: flex;
    margin: 0 50px 0 50px;
    background-color: #f2f2f2;
    padding: 45px 70px 60px 70px;
}

footer a
{
    color: inherit;
    text-decoration: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: medium;
    font-size: 0.9em;
}

footer > div
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer > div > h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
    margin: 0;
}

.footer_list li:not(:last-child)
{
    margin-bottom: 12px;
}

.footer_list > ul 
{
    list-style-type: none;
    text-align: inherit;
    display: inline;
}

/* Media queries tablette */

@media screen and (max-width: 992px)
{
    #tags
    {
        flex-wrap: wrap;
    }

    #tags_div
    {
        flex-wrap: nowrap;
    }

    #section_1_flex
    {
        flex-direction: column;
    }

    #section_1_flex i
    {
        font-size: 0.8em;
    }

    #populaire_colonne
    {
        flex-direction: row;
        gap: 3%;
    }

    #activites > div > div:nth-child(1) > img
    {
        height: 20vh;
    }
}

/* Media queries mobile */

@media screen and (max-width: 768px)
{
    body
    {
        margin: 0;
    }

    header
    {
        flex-direction: column;
        justify-content: inherit;
    }

    #logo
    {
        display: flex;
        align-self: center;
        flex-basis: 80px;
        align-items: center;
    }

    #logo > img
    {
        max-width: 100px;
        max-height: 60px;
        margin: 0;
    }

    #nav_header
    {
        flex-basis: inherit;
        flex: 1;
    }

    #nav_header > ul > a > li
    {
        border-top: inherit;
        border-bottom: 2px solid white;
    }

    #nav_header > ul > a > li:hover
    {
        border-top: inherit;
        border-bottom: 2px solid #0065FC;
    }

    #div_titre_search_tags > h1
    {
        margin-left: 20px;
    }

    #div_titre_search_tags > :nth-child(2)
    {
        margin: 0 0 0 20px;
    }

    #div_search_tags > form
    {
        display: flex;
        justify-content: center;
    }

    #tags
    {
        flex-direction: column;
    }

    #tags > h2
    {
        margin: inherit;
        margin-left: 20px;
    }

    #tags_div > a
    {
        flex: 1;
    }

    #tags_div > a > div 
    {
        flex-wrap: wrap;
        margin: 0;
    }

    #tags_div > a > div > p
    {
        display: flex;
    }

    #div_milieu
    {
        margin: 0;
    }

    #section_1_flex
    {
        flex-direction: column-reverse;
    }

    #populaire
    {
        border-radius: inherit;
    }

    #populaire_colonne
    {
        flex-direction: column;
        row-gap: 12px;
    }

    #hebergement
    {
        border-radius: inherit;
        background-color: white;
    }

    #hebergement_carte
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: inherit;
    }

    #hebergement_carte > a
    {
        width: inherit;
    }

    .hebergement > div:nth-child(1) > img
    {
        height: 25vh;
    }
    
    #hebergement > div:nth-child(3)
    {
        display: none;
    }

    #section_2 > h1 {
        margin-left: 20px;
    }

    #activites
    {
        flex-direction: column;
        row-gap: 24px;
        padding: 0 20px 0 20px;
    }

    #activites > div
    {
        width: inherit;
    }

    footer
    {
        margin: 0;
        flex-direction: column;
        row-gap: 40px;
    }
}
